<section class="page-width">
  <h3>{{ section.settings.title }}</h3>
  <dl>
    {% for block in section.blocks %}
      <dt>質問1 : {{ block.settings.title }}</dt>
      <dd>回答1 : {{ block.settings.answer }}</dd>
    {% endfor %}
  </dl>
</section>
{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "FAQのタイトル",
      "default": "FAQ 2"
    }
  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ項目",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "質問を入力してください"
        },
        {
          "type": "text",
          "id": "answer",
          "label": "回答を入力して下さい"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}
